// SidePanel.module.scss
.sidePanel {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 2px 10px; // Center the layout horizontally if it has a set max-width
  flex-shrink: 0;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 5px;
  
  height: 100%;
}

.panelButton {
  align-items: center;
  border: 0px;
  
  // set width and height the same so its always square
  height: 100%;
  width: 100%;
  
  cursor: pointer;
  
  background-color: #192b3c;
  
  font-weight: 400;
  font-size: 2.5vw;
  line-height: 1;
  font-style: normal;
  
  color: #f3f3f4;
  
  &.squareButton {
	width: auto;
	aspect-ratio: 1 / 1;
  }
  
  &.eraseButton {
  }
  
  &.solveButton {
    background-color: #335475;
  }
}








