
.body {
	background-color: red;
}

.grid {
  margin: auto;
  display: flex;
  flex-direction: column;

  border:      2px solid #335475;
  border-left: 3px solid #335475;
  border-top:  3px solid #335475;
}

.row {
  display: flex;
}

.cell {
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  border: 0px solid #335475;
  border-right:  0.5px solid #335475;
  border-bottom: 0.5px solid #335475;
  
  background-color: #192b3c;
  
  font-weight: 400;
  font-size: 2.5vw;
  line-height: 1;
  font-style: normal;
  
  color: transparent;
  

  &.aligned {
    background-color: #283b51;
  }

  &.selected {
    background-color: #335475;
  }
  
  &.value {
	color: #59a4fa;
  }
  &.error {
	background-color: #5c3645;
	color: #ef4444;
  }
  &.locked {
	color: #f3f3f4;
  }

  &.lineHor {
    border-right:  2px solid #335475;
  }
  &.lineVer {
    border-bottom: 2px solid #335475;
  }
}
